on:
 workflow_dispatch:
    branches:
      - main
jobs:
  generate_dependencies:
    runs-on: ubuntu-latest
    name: Genereate a list of dependencies for this repository
    steps:
    - name: Generate dependencies action
      uses: thedave42/generate-dependencies-csv-action@v1.0
