# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Docker Build and Source Release

on:
  workflow_dispatch:
    inputs:
      version_type:
        description: "npm version [<newversion> | major | minor | patch | premajor | preminor | prepatch | prerelease [--preid=<prerelease-id>] | from-git]"
        required: true
        default: "patch"
      release_description:
        description: "Release notes"
        required: true
        default: "enter release notes"

jobs:
  update-version-info:
    name: Executing npm version ${{ github.event.inputs.version_type }}
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash

    outputs:
      semver: ${{ steps.semver.outputs.semver }}
      sha: ${{ steps.commit.outputs.commit_long_sha }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js 14 environment
        uses: actions/setup-node@v1
        with:
          node-version: "14"

      - name: Run npm version ${{ github.event.inputs.version_type }}
        run: |
          npm version ${{ github.event.inputs.version_type }} --no-git-tag-version

      - name: Read new version
        id: semver
        run: |
          echo "::set-output name=semver::$(npm view . version)

      - name: New version is ${{ steps.semver.outputs.semver }}
        run: echo "New version is ${{ steps.semver.outputs.semver }}"

      - name: Commit new version information
        run: |
          git config user.name github-actions
          git config user.email dave@digitalnoise.net
          git add .
          git commit -m "Updated version to $pkg-version"
          git push


  build-and-publish-docker:
    name: Create docker image
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
    needs: update-version-info

    steps:
      - name: Checkout code
        uses:  actions/checkout@v3

      - name: Creating docker image version ${{ needs.update-version-info.outputs.semver }}
        run: echo "Creating docker image version ${{ needs.update-version-info.outputs.semver }}"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.5.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Docker build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/f1tv-dl-docker:latest
            ghcr.io/${{ github.repository_owner }}/f1tv-dl-docker:${{ needs.update-version-info.outputs.semver }}

  create-release:
    name: Creating GitHub release
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
    needs: 
      - update-version-info
      - build-and-publish-docker

    steps:
      - name: Checkout code
        uses:  actions/checkout@v3

      - name: Creating release version ${{ needs.update-version-info.outputs.semver }}
        run: echo "Creating release version ${{ needs.update-version-info.outputs.semver }}"

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ needs.update-version-info.outputs.semver }}
          release_name: fltv-dl ${{ needs.update-version-info.outputs.semver }}
          body: ${{ github.event.inputs.release_description }}
          draft: false
          prerelease: false

  npm-publish:
    name: Publish npm release
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
    needs: 
      - update-version-info
      - build-and-publish-docker

    steps:
      - name: Checkout code
        uses:  actions/checkout@v3

      - name: Set up Node.js 14 environment
        uses: actions/setup-node@v1
        with:
          node-version: "14"

      - name: Publishing version ${{ needs.update-version-info.outputs.semver }} to npm
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
          access: "public"
          dry-run: true
