# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Validate build

on:  
  push:    
    paths-ignore:
      - '.github/**'
      - '**.md'
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]
    paths-ignore:
      - '.github/**'
      - '**.md'
  schedule:
    - cron: '6 11 * * 3'

jobs:
  build-and-test:
    #if: ${{ github.actor != 'depdendabot[bot]'}}
    
    runs-on: windows-2019
    defaults:
      run:
        shell: cmd

    strategy:
      matrix:
        node-version: ['14']

    steps:
    - name: Workflow Action
      run: echo This workflow was triggered by %GITHUB_ACTOR%
    - 
      uses: actions/checkout@v2

    - 
      name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    -
      name: Install app
      run: npm i

    -
      name: Run unit tests
      run: npm test
      timeout-minutes: 3
      env:
        RACEURL: ${{ secrets.RACEURL }}
        EPISODEURL: ${{ secrets.EPISODEURL }}
        F1TV_USER: ${{ secrets.F1TV_USER }}
        F1TV_PASS: ${{ secrets.F1TV_PASS }}
        RACENAME: ${{ secrets.RACENAME }}
        RACEID: ${{ secrets.RACEID }}
        EPISODENAME: ${{ secrets.EPISODENAME }}
        EPISODEID: ${{ secrets.EPISODEID }}
        RACECHANNELID_DATA: ${{ secrets.RACECHANNELID_DATA }}
        RACECHANNELID_HAM: ${{ secrets.RACECHANNELID_HAM }}

    -
       name: Upload artifacts on failure
       uses: actions/upload-artifact@v2
       if: failure()
       with:
         name: f1tv-build-artifacts
         path: |
          !node_modules/**
          ./datastore-test.json
          ./chromium_page*.png
